body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(233, 0, 47);
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, select, button {
    margin: 5px;
    padding: 8px;
}

button {
    background-color: rgb(170, 32, 32);
    color: white;
    border: none;
    cursor: pointer;
}

 #mensagem {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
 }

 .card{
    background: rgb(228, 5, 5);
    margin: 15px auto;
    padding: 15px;
    width: 320px;
    border-radius: 8px;
 }